@use 'src/variables' as v;

.portfolio-block--ctr {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	background-color: v.$background-color;

	& > p {
		font-weight: 700;
		font-size: 2vw;
		user-select: none;
		margin-top: 5%;

		@media screen and (max-width: 1224px) {
			font-size: 9vw;
		}

		@media screen and (min-width: 1824px) {
			font-size: 2vw;
		}
	}

	div {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 2vw 0;
		p{
			text-decoration: underline;
			margin: 2vw 0;

			@media screen and (max-width: 1224px) {
				font-size: 4.8vw;
				margin: 4vw 0 12vw 0;
			}
		}

		@media screen and (max-width: 1224px) {
			img{
				width: 80%;
			}
		}
	}
}