@use '../../../variables' as v;

.mobile {
	width: v.$block-width;
	height: auto;
	font-family: "Gilroy Bold", sans-serif;
	user-select: none;

	.header--mobile__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;

		@media screen and (max-width: 1224px) {
			width: 100%;
			flex-direction: column;
		}

		.home-block__title {
			font-size: 3vw;
			word-wrap: break-word;
			width: fit-content;

			@media screen and (max-width: 1224px) {
				font-size: 12.5vw;
				align-self: flex-start;
				margin: 10% 0 5% 0;
			}
		}

		.home-block__desc {
			font-family: "Gilroy Medium", sans-serif;
			font-size: 1.25vw;
			align-self: flex-end;
			margin: 0 4% 5% 0;

			@media screen and (max-width: 1224px) {
				font-size: 4.8vw;
				align-self: flex-start;
				margin: 0 0 15% 0;
			}
		}
	}

	.header__lang {
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: row;
		color: v.$secondary-color;
		font-size: 1.25vw;

		p {
			margin: 0;
		}

		p:not(.lang-line):hover {
			cursor: pointer;
		}

		.lang-selected {
			color: v.$primary-color;
		}

		.lang-line {
			color: v.$primary-color;
		}
	}

	img {
		@media screen and (max-width: 1224px) {
			width: 80%;
		}

		margin-bottom: 5%;
	}

	@media screen and (max-width: 1224px) {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		& > div {
			width: 80%;
			height: 80%;
			margin-top: 10%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			img {
				height: 25px;
				width: auto;
				align-self: flex-start;
				justify-self: flex-end;
				margin-top: 15%;
			}
		}
	}
}
