@use '../../variables' as v;

.home-block--ctr {
	width: v.$block-width;
	height: auto;
	font-family: "Gilroy Bold", sans-serif;
	user-select: none;

	.home-block__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;

		@media screen and (max-width: 1224px) {
			width: 100%;
			flex-direction: column;
		}

		.home-block__title {
			font-size: 3vw;
			word-wrap: break-word;
			width: fit-content;

			@media screen and (max-width: 1224px) {
				font-size: 12.5vw;
				align-self: flex-start;
				margin: 10% 0 5% 0;
			}
		}

		.home-block__desc {
			font-family: "Gilroy Medium", sans-serif;
			font-size: 1.25vw;
			align-self: flex-end;
			margin: 0 0 5% 0;

			@media screen and (max-width: 1224px) {
				font-size: 4.8vw;
				align-self: flex-start;
				margin: 0 0 15% 0;
			}
		}
	}

	.home-block__lang {
		transform: rotate(-90deg) translate(0, 1.75vw);
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: row;
		color: v.$secondary-color;
		font-size: 1.25vw;

		p {
			margin: 0;
		}

		p:not(.lang-line):hover {
			cursor: pointer;
		}
	}

	img {
		@media screen and (max-width: 1224px) {
			width: 80%;
		}

		margin-bottom: 5%;
	}

	@media screen and (max-width: 1224px) {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		& > div {
			width: 80%;
			height: 80%;
			margin-top: 10%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			img {
				height: 25px;
				width: auto;
				align-self: flex-start;
				justify-self: flex-end;
				margin-top: 15%;
			}
		}
	}
}

.lang-selected {
	color: v.$primary-color;
}

.lang-line {
	color: v.$primary-color;
}

.home-block--menu {
	width: 80%;
	height: 90%;
	margin: 10% 0 0 0;
	font-family: "Gilroy Bold", sans-serif;

	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;

	div{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		width: 100%;
	}

	p{
		font-size: 9vw;
		color: v.$secondary-color;
		margin: 6vw 0;

		&.selected{
			color: v.$primary-color;
		}
	}

	.home-block__lang{
		transform: rotate(90deg) translate(5vw, -9vw);
		transform-origin: bottom;
		width: 40%;
		align-self: flex-end;

		p{
			margin: 0;
		}
	}
}


