@use '../../variables' as v;

header {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	color: v.$secondary-color;
	width: v.$block-width;
	font-family: Gilroy Bold, sans-serif;

	nav {
		width: 100%;
		height: 6vw;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		border-bottom: 2px solid v.$secondary-color;

		&:hover {
			span:first-of-type {
				color: v.$secondary-color;

				&:hover {
					color: v.$primary-color;
				}
			}
		}

		span {
			font-size: 1.25vw;
			transition: color .1s linear;

			&:first-of-type {
				color: v.$primary-color;
			}

			&:hover {
				color: v.$primary-color;
				cursor: pointer;
			}
		}
	}

	& > div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		color: v.$primary-color;
		width: 100%;

		@media screen and (max-width: 1224px) {
			width: 100%;
			flex-direction: column;
		}

		h1 {
			font-size: 3vw;
			word-wrap: break-word;
			width: fit-content;

			@media screen and (max-width: 1224px) {
				font-size: 12.5vw;
				align-self: flex-start;
				margin: 10% 0 5% 0;
			}
		}

		h2 {
			font-family: "Gilroy Medium", sans-serif;
			font-size: 1.25vw;
			align-self: end;
			margin: 0 5vw 2.5vw 0;
			font-weight: 500;

			@media screen and (max-width: 1224px) {
				font-size: 4.8vw;
				align-self: flex-start;
				margin: 0 0 15% 0;
			}
		}
	}

	img {
		@media screen and (max-width: 1224px) {
			width: 80%;
		}

		margin-bottom: 5%;
	}

	@media screen and (max-width: 1224px) {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		& > div {
			width: 80%;
			height: 80%;
			margin-top: 10%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			img {
				height: 25px;
				width: auto;
				align-self: flex-start;
				justify-self: flex-end;
				margin-top: 15%;
			}
		}
	}
}



.mobile {
	height: 100%;

	& > div {
		flex-direction: row;
	}

	.menu {
		&.visible {
			opacity: 1;
		}

		transition: opacity .2s ease-in-out;
		opacity: 0;
		position: fixed;
		z-index: 100;
		width: 100%;
		height: 100%;
		inset: 0;
		overflow: hidden;
		background-color: #ffffff;
		font-family: "Gilroy Bold", sans-serif;

		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;

		$width: 80%;

		& > span {
			margin: 0 0 0 10%;
			width: $width;
		}

		div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			width: $width;

			img {
				height: 25px;
				width: auto;
				margin: 0;
			}
		}

		span {
			font-size: 9vw;
			user-select: none;
			color: v.$secondary-color;
			margin: 0;

			&.selected {
				color: v.$primary-color;
			}

			&.lang-selected {
				color: v.$primary-color;
			}

			&.lang-line {
				color: v.$primary-color;
			}
		}

		.lang-btn {
			writing-mode: vertical-rl;
			transform: translate(8vw, 5vw);
			transform-origin: bottom;
			width: 40%;
			align-self: flex-end;

			span {
				margin: 0;
			}
		}
	}
}