@use '../../variables' as v;

header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	height: 6vw;
	border-bottom: .125vw solid v.$secondary-color;
	color: v.$secondary-color;
	width: v.$block-width;
	font-family: Gilroy Bold, sans-serif;

	&:hover {
		.header-item:first-of-type {
			color: v.$secondary-color;
		}

		.header-item:first-of-type:hover {
			color: v.$primary-color;
		}
	}

	.header-item {
		font-size: 1.25vw;
		transition: color .1s linear;

		&:first-of-type {
			color: v.$primary-color;
		}

		&:hover {
			color: v.$primary-color;
			cursor: pointer;
		}
	}
}