header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 5vw;
    border-bottom: .125vw solid #828282;
    color: #828282;
    width: 67%;
    font-family: Gilroy Bold, sans-serif;
}

.header-item {
    font-size: 1vw;
    line-height: 22px;
    transition: color .1s linear;
}

.header-item:hover {
    color: #000;
    cursor: pointer;
}