@use "src/variables" as v;

.skills-block--ctr {
	width: v.$block-width;

	.skills-block {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: row;
		margin: 10% 0;

		@media screen and (max-width: 1224px) {
			width: 100%;
			flex-direction: column;
		}
	}

	p:first-of-type {
		font-weight: 700;
		font-size: 2vw;
		user-select: none;
		@media screen and (max-width: 1224px) {
			font-size: 9vw;
		}
	}

	& > p {
		text-align: center;
		font-size: 1.25vw;
		margin: 10% 0;
		@media screen and (max-width: 1224px) {
			font-size: 4.8vw;
			margin: 10vw 0;
		}
	}

	.skills-block__item {
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 50%;

		p {
			font-size: .75vw;
			color: v.$secondary-color;
			word-wrap: break-word;
			width: 40%;
			text-align: center;

			@media screen and (max-width: 1224px) {
				font-size: 3.75vw;
				width: 80%;
			}
		}

		.star {
			margin: 1vw .5vw;

			@media screen and (max-width: 1224px) {
				height: 5vw;
				margin: 6vw 2vw;
			}
		}

		& > img {
			height: 100px;
			width: auto;

			@media screen and (max-width: 1224px) {
				height: 24vw;
				margin: 4vw 0;
			}

			@media screen and (max-width: 1900px) {
				height: 96px;
				margin: 2vw;
			}
		}
	}
}